/* ==========================================================================
   Plum theme skin
   ========================================================================== */

/* Colors */
$base-color: #560c11 !default;
$text-color: #421310 !default;
$accent-color: #942821 !default;
$background-color: #eca0a7 !default;
$code-background-color: #fbe9ec !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fbe9ec !default;
