---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

@import url("//hello.myfonts.net/count/3955fd");


@font-face {font-family: 'SupremaBold';src: url('webfonts/3955FD_0_0.eot');src: url('webfonts/3955FD_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3955FD_0_0.woff2') format('woff2'),url('webfonts/3955FD_0_0.woff') format('woff'),url('webfonts/3955FD_0_0.ttf') format('truetype');}


@font-face {font-family: 'SupremaRegular';src: url('webfonts/3955FD_1_0.eot');src: url('webfonts/3955FD_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3955FD_1_0.woff2') format('woff2'),url('webfonts/3955FD_1_0.woff') format('woff'),url('webfonts/3955FD_1_0.ttf') format('truetype');}

body {
  font-family: SupremaRegular;
}

h1, h2, h3, h4, h5 {
	font-family: SupremaBold;
	font-weight: normal;
	font-style: normal;
}
